<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
</head>
<body>
	<div id="header"></div>
	<div id="navigater"></div>
	<div id="content"></div>
			<div id="pic">
					<table width=450 border=1>
						<tr>
								<td colspan=2 align=center>
								<div th:text="${session.M.name}"/>
								訂單細目
						<tr>
								<td width=100>品名
								<td>數量
						<tr>
								<td width=100>A商品(100元)
								<td th:text="${session.P.a}">
						<tr>
								<td width=120>B商品(120元)
								<td th:text="${session.P.b}">
						<tr>
								<td width=140>C商品(140元)
								<td th:text="${session.P.c}">
						<tr>
								<td width=100>金額共
								<td th:text="${session.P.a}*100
								+${session.P.b}*120
								+${session.P.c}*140">
						<tr>
								<td colspan=2 align=center>
								<a href="/porder/porder">回上一頁</a>
								<a href="/porder/finsih">確認</a>
								</table>
								</div>
												 								
</body>
</html>